.dart_tool/
.packages
.pub/
build/
android/.gradle/
android/.kotlin/
android/local.properties
android/key.properties
android/secure/
android/app/debug/
android/app/profile/
android/app/release/
android/app/src/main/jniLibs/
android/app/src/main/assets/licenses/
android/app/src/main/assets/geodata/
.idea/
*.iml
*.apk
*.aab
*.keystore
*.jks
